.wrapper {
    display: flex;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    // border-bottom: 1px solid red;
}
.inner {
    width: 1150px;
    height: 60px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 118px;
}

.header {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 999px;
    width: 361px;
    padding-left: 16px;
    border: 1.5px solid transparent;

    .search-input {
        height: 40px;
        background-color: transparent;
        outline: none;
        border-color: transparent;
        width: 291px;
        font-size: 1.6rem;
        font-family: var(--font-family);
        caret-color: var(--primary);
    }

    &:focus-within {
        border-color: #c5c6c9;
    }

    // .search-input:not(:placeholder-shown) ~ .search-btn {
    //     color: #000;
    // }
}

.search-input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
}

.loading,
.clear {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: 66px;
    transform: translateY(-50%);
    top: 50%;
}

.search-btn {
    color: rgba(22, 24, 35, 0.34);
    position: relative;
    width: 52px;
    height: 40px;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    outline: none;
    border-color: transparent;

    &::after {
        content: '';
        position: absolute;
        left: -2px;
        transform: translateY(-50%);
        top: 50%;
        width: 1px;
        height: 24px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }
}

.action {
    display: flex;
    align-items: center;
}

.no-image {
    width: 32px;
    border-radius: 50%;
}

.action__list-icon {
    margin-left: 28px;
    font-size: 2rem;
    background-color: var(--white);
}
