.wrapper {
    display: flex;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    // border-bottom: 1px solid red;
}
.inner {
    width: 1150px;
    height: 60px;
    margin: auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 118px;
}

.box {
    padding-top: 8px;
}

.action {
    display: flex;
    align-items: center;
}

.no-image {
    width: 32px;
    border-radius: 50%;
}

.action__list-icon {
    margin-left: 28px;
    font-size: 2rem;
    background-color: var(--white);
    padding: 6px 10px;
}

.inbox-icon {
    position: relative;
    padding: 0 32px;
    background-color: var(--white);

    &::after {
        content: '99+';
        position: absolute;
        background-color: var(--primary);
        top: -6px;
        right: 18px;
        width: 34px;
        height: 19px;
        border-radius: 999px;
        color: var(--white);
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
